

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">

  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold"><br>  SIRH  mobilité managériale  <br> </h1>
      <h6 class="font-weight-normal text-muted pb-3">  l'utilisation de notre système nécessite un compte offert par le ministère</h6>
      <div>
        <button type="button" routerLink="/login" class="btn btn-outline-primary ">Commencer  </button>
       
         <a href="http://www.equipement.gov.ma/Pages/accueil.aspx"><button class="btn btn-dark ml-1" > plus</button></a>
      </div>
      <br><br>
      <img src="../../../assets/images/xxx.png" alt="" class="img-fluid"><br><br><br>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Fonctionnalités principales</h2>
      
        </div>
        <div class="d-md-flex justify-content-between">
         
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="../../../assets/images/Group5.svg" alt="" class="img-icons">
              <h5 class="py-3">mobilité horizontale</h5>
              <p class="text-muted ">Changez d'horizon professionnel en un rien de temps</p>
              
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <img src="../../../assets/images/Group7.svg" alt="" class="img-icons">
              <h5 class="py-3"> mobilité verticale</h5>
              <p class="text-muted">Développez votre potentiel avec une mobilité verticale sur mesure</p>
           
            </div>
          </div>
        </div>
      </section>     
      <section class="digital-marketing-service" id="digital-marketing-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">Automatisez vos processus</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">Notre application simplifie et automatise les processus de mobilité verticale et horizontale, permettant ainsi aux employés de se concentrer sur leur travail plutôt que sur les formalités administratives</p>
              <p class="font-weight-medium text-muted"></p>
            </div>    
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="../../../assets/images/Office management-rafiki (2).png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="../../../assets/images/Computer login-pana.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0"> Simplifiez votre gestion </h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Grâce à notre interface utilisateur intuitive et conviviale, les employés peuvent facilement parcourir les listes de postes vacants, postuler pour des postes en fonction de leur profil et demander des mobilités, le tout en quelques clics seulement</p>
             
            </div>
            
          </div>
        </div>
      </section>     
       
    
    
      
    </div> 
  </div>

</body>
