
<div class="card-header content-header content-header-intro">
  
  
   
    <div class="content-header-actions">
       
        <a href="#" class="button">
            <i class="ph-plus-bold"></i>
           <a *ngIf="myuser?.type=='Utilisateur'"  data-toggle="modal"  data-target="#addCandidature"> <button type="button" class="btn btn-outline-primary" >+ Creer une candidature</button></a>
        </a>
    </div>
    <div class="search-container">
        <form action="#" method="get">
          <input  (ngModelChange)="SearchUsers(key.value)" #key="ngModel" ngModel type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

</div>
<br>
   
        


   
                <div class="table-responsive">
                    <table *ngIf="u?.length != 0"  class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                              
                              <th scope="col">Numero </th>
                                <th scope="col">Nom </th>
                                <th scope="col">Prenom </th>
                                <th scope="col">Age</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Poste actuelle</th>
                                <th scope="col">Poste Mobilite</th>
                                <th scope="col">Raison </th>
                                <th scope="col">Etat</th>
                                <th *ngIf="myuser?.type=='Utilisateur'" scope="col" style="width: 200px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cand of u" >
                             
                                <td><a href="#" class="text-body">{{cand.numero}} </a></td>
                                <td><a href="#" class="text-body">{{cand.nomC}} </a></td>
                                <td>{{cand.prenomC}} </td>
                               
                             
                                <td>{{cand.ageC}} </td>
                                <td>{{cand.telephoneC}} </td>
                                
                                <td>{{cand.emailC}}</td>
                                <td>{{cand.posteA}}  </td>
                                <td> {{cand.poste?.intitule}}  </td>

                                <td>{{cand.raisonM}} </td>
                                <td><span class="badge badge-soft-info mb-0">{{cand.etat}} </span></td>
                                  
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li *ngIf="myuser?.type=='Utilisateur'" class="list-inline-item">
                                            <a (click)="FetchUser(cand)"  data-toggle="modal"  data-target="#Update" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li *ngIf="myuser?.type=='Utilisateur'" class="list-inline-item">
                                            <a (click)="FetchUser(cand)"  data-toggle="modal"  data-target="#DeleteC"  href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                      
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-labelledby="Update" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modifier une Candidature</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form #edit="ngForm">
                              <div class="form-group">
                                <input type="text" hidden ngModel="{{us?.id}}"  name="id" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
                                <input type="text" hidden ngModel="{{us?.user}}"  name="utilisateur" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
                  
                                </div>
                             
                               <div class="form-group">
                               
                                  <input type="hidden"  ngModel="{{us?.numero}}"  name="numero" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
                    
                                  </div>
                              <div class="form-group">
                            
                                  <input type="hidden"  ngModel="{{us?.nomC}}"  name="nomC" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
                    
                                  </div>
                          
                          <div class="form-group">
                           
                            <input type="hidden"  ngModel="{{us?.prenomC}}"  name="prenomC" class="form-control" id="Intitule" aria-describedby="emailHelp" >
                        </div>
                        <div class="form-group">
                          
                          <input type="hidden"  ngModel="{{us?.ageC}}"  name="ageC" class="form-control" id="Dependance" aria-describedby="emailHelp" >
                      </div>
                      <div class="form-group">
                      
                        <input type="hidden"  ngModel="{{us?.telephoneC}}"  name="telephoneC" class="form-control" id="number" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                     
                      <input type="hidden"  ngModel="{{us?.emailC}}"  name="emailC" class="form-control" id="Localite" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                     
                      <input type="hidden"  ngModel="{{us?.posteA}}"  name="posteA" class="form-control" id="Description" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                      <label for="ImageUrl">poste Moibilite</label>
                     
                      <select class="form-control" ngModel="{{us?.poste?.id}}" aria-label=".form-select-sm example"  name="poste">
                  
                        <option  *ngFor="let p of postes"  id="type" value="{{p.id}}">{{p.intitule}}</option>
                        
                       
                      </select>
      
                      </div>
                    <div class="form-group">
                      <label for="Raison">Raison Mobilite</label>
                      <input type="text"  ngModel="{{us?.raisonM}}"  name="raisonM" class="form-control" id="Raison" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
             
                      <input type="hidden" ngModel="{{us?.etat}}"  name="etat" class="form-control" id="Raison" aria-describedby="emailHelp" >
                    </div>
                    <div>
                      <div class="modal-footer">
                        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button (click)="UpdateC(edit)" type="button" class="btn btn-primary">Enregistrer</button>
                      </div>
                    </div>
                    </form>
                      
                      
                    </div> 
                       
                  </div> 
                     
                </div> 
                   
              </div> 
              <div class="modal fade" id="DeleteC" tabindex="-1" role="dialog" aria-labelledby="DeleteC" aria-hidden="true">
                <div class="modal-dialog" role="document">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="deleteUser">Delete Candidature !</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">
                         <p>Are you sure you want to delete  this Candidature  ?</p>
                         <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button (click)="DeleteCandidature(id)"  class="btn btn-danger" data-dismiss="modal">Yes</button>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
            <div class="modal fade" id="addCandidature" tabindex="-1" role="dialog" aria-labelledby="addCandidature" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une Candidature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #add="ngForm">
                      <div class="form-group">
                  
                        <input type="hidden"  [ngModel]="myuser?.id" name="utilisateur" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
          
                        </div>
                       
                       <div class="form-group">
           
                          <input type="hidden" ngModel  name="numero" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
            
                          </div>
                      <div class="form-group">
                          
                          <input type="hidden" [ngModel]="myuser?.nomU"  name="nomC" class="form-control" id="ImageUrl" aria-describedby="emailHelp" >
            
                          </div>
                  
                  <div class="form-group">
                  
                    <input type="hidden" [ngModel]="myuser?.prenomU"  name="prenomC" class="form-control" id="Intitule" aria-describedby="emailHelp" >
                </div>
                <div class="form-group">
               
                  <input type="hidden" [ngModel]="myuser?.age"  name="ageC" class="form-control" id="Dependance" aria-describedby="emailHelp" >
              </div>
              <div class="form-group">

                <input type="hidden" [ngModel]="myuser?.telephone"  name="telephoneC" class="form-control" id="number" aria-describedby="emailHelp" >
            </div>
            <div class="form-group">

              <input type="hidden" [ngModel]="myuser?.email"  name="emailC" class="form-control" id="Localite" aria-describedby="emailHelp" >
            </div>
            <div class="form-group">
   
              <input type="hidden" [ngModel]="myuser?.posteActuelle"  name="posteA" class="form-control" id="Description" aria-describedby="emailHelp" >
            </div>
            <div class="form-group">
        
              <label >poste Mobilite</label><br>
              <select class="form-control" aria-label=".form-select-sm example" ngModel name="poste">
                  
                  <option  *ngFor="let p of postes"  id="type" value="{{p.id}}">{{p.intitule}}</option>
                  
                 
                </select>

              </div>
            <div class="form-group">
              <label for="Raison">Raison Mobilite</label>
              <input type="text" ngModel  name="raisonM" class="form-control" id="Raison" aria-describedby="emailHelp" >
            </div>
            <div class="form-group">
             
              <input type="hidden" ngModel="En cours"  name="etat" class="form-control" id="Raison" aria-describedby="emailHelp" >
            </div>
          
            <div>
              <div class="modal-footer">
                <button id="one" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="AddCandidature(add)" type="button" class="btn btn-primary">Enregistrer</button>
              </div>
            </div>
          
            </form>
                 
            </div> 
          </div> 
        </div> 
      </div> 
                </div>
             
           

                <div *ngIf="u?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
                  <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Candidature non trouvé!</h4>
                    <p>l'application ne contient aucune Candidature</p>
                  </div>
                  </div>           
       
    
            


          
      
      
  
  

